## Apply pandas in Forbes dataset

This description aims to illustrate the commands in Pandas. 

We'll work with a data set from Fortune magazine's 2017 Global 500 list, which ranks the top 500 corporations worldwide by revenue. The data set was originally compiled here; however, we modified the original data set to make it more accessible.

Here is a data dictionary for some of the columns in the CSV:


company: Name of the company.

rank: Global 500 rank for the company.

revenues: Company's total revenue for the fiscal year, in millions of dollars (USD).

revenue_change: Percentage change in revenue between the current and prior fiscal year.

profits: Net income for the fiscal year, in millions of dollars (USD).

ceo: Company's Chief Executive Officer.

industry: Industry in which the company operates.

sector: Sector in which the company operates.

previous_rank: Global 500 rank for the company for the prior year.

country: Country in which the company is headquartered.

### 1. Import Pandas and read the dataset

In [1]:
import pandas as pd
import numpy as np
f500 = pd.read_csv('f500.csv',index_col=0)
f500.index.name = None

**Note: index-column**
<br>
<br>
The index_col parameter is an optional argument and should specify which column to use as the row labels for the dataframe.
<br>When we used a value of 0, we specified that we wanted to use the first column as the row labels.

In [2]:
f500 = pd.read_csv('f500.csv',index_col=0)
print(f500.head(5))

                          rank  revenues  revenue_change  profits  assets  \
company
Walmart                      1    485873             0.8  13643.0  198825
State Grid                   2    315199            -4.4   9571.3  489838
Sinopec Group                3    267518            -9.1   1257.9  310726
China National Petroleum     4    262573           -12.3   1867.5  585619
Toyota Motor                 5    254694             7.7  16899.3  437575

                          profit_change                  ceo  \
company
Walmart                            -7.2  C. Douglas McMillon
State Grid                         -6.2              Kou Wei
Sinopec Group                     -65.0            Wang Yupu
China National Petroleum          -73.7        Zhang Jianhua
Toyota Motor                      -12.3          Akio Toyoda

                                          industry                  sector  \
company
Walmart                      General Merchandisers               Retailing
State Grid                               Utilities                  Energy
Sinopec Group                   Petroleum Refining                  Energy
China National Petroleum        Petroleum Refining                  Energy
Toyota Motor              Motor Vehicles and Parts  Motor Vehicles & Parts

                          previous_rank country      hq_location  \
company
Walmart                               1     USA  Bentonville, AR
State Grid                            2   China   Beijing, China
Sinopec Group                         4   China   Beijing, China
China National Petroleum              3   China   Beijing, China
Toyota Motor                          8   Japan    Toyota, Japan

                                               website  \
company
Walmart                         http://www.walmart.com
State Grid                      http://www.sgcc.com.cn
Sinopec Group                   http://www.sinopec.com
China National Petroleum        http://www.cnpc.com.cn
Toyota Motor              http://www.toyota-global.com

                          years_on_global_500_list  employees  \
company
Walmart                                         23    2300000
State Grid                                      17     926067
Sinopec Group                                   19     713288
China National Petroleum                        17    1512048
Toyota Motor                                    23     364445

                          total_stockholder_equity
company
Walmart                                      77798
State Grid                                  209456
Sinopec Group                               106523
China National Petroleum                    301893
Toyota Motor                                157210

In this case, the row label is by default the company name 
<br>
<br>
If we want to have number as index, then we shd take this optional argument out and the default index will exist again. 
<br> **This is more conventional way to read in a dataframe**

In [3]:
f500_head = pd.read_csv("f500.csv")
print(f500_head)

                            company  rank  revenues  revenue_change  profits  \
0                           Walmart     1    485873             0.8  13643.0
1                        State Grid     2    315199            -4.4   9571.3
2                     Sinopec Group     3    267518            -9.1   1257.9
3          China National Petroleum     4    262573           -12.3   1867.5
4                      Toyota Motor     5    254694             7.7  16899.3
..                              ...   ...       ...             ...      ...
495  Teva Pharmaceutical Industries   496     21903            11.5    329.0
496        New China Life Insurance   497     21796           -13.3    743.9
497       Wm. Morrison Supermarkets   498     21741           -11.3    406.4
498                             TUI   499     21655            -5.5   1151.7
499                      AutoNation   500     21609             3.6    430.5

     assets  profit_change                  ceo  \
0    198825           -7.2  C. Douglas McMillon
1    489838           -6.2              Kou Wei
2    310726          -65.0            Wang Yupu
3    585619          -73.7        Zhang Jianhua
4    437575          -12.3          Akio Toyoda
..      ...            ...                  ...
495   92890          -79.3    Yitzhak Peterburg
496  100609          -45.6             Wan Feng
497   11630           20.4       David T. Potts
498   16247          195.5    Friedrich Joussen
499   10060           -2.7   Michael J. Jackson

                            industry                  sector  previous_rank  \
0              General Merchandisers               Retailing              1
1                          Utilities                  Energy              2
2                 Petroleum Refining                  Energy              4
3                 Petroleum Refining                  Energy              3
4           Motor Vehicles and Parts  Motor Vehicles & Parts              8
..                               ...                     ...            ...
495                  Pharmaceuticals             Health Care              0
496  Insurance: Life, Health (stock)              Financials            427
497             Food and Drug Stores      Food & Drug Stores            437
498                  Travel Services       Business Services            467
499              Specialty Retailers               Retailing              0

     country           hq_location                       website  \
0        USA       Bentonville, AR        http://www.walmart.com
1      China        Beijing, China        http://www.sgcc.com.cn
2      China        Beijing, China        http://www.sinopec.com
3      China        Beijing, China        http://www.cnpc.com.cn
4      Japan         Toyota, Japan  http://www.toyota-global.com
..       ...                   ...                           ...
495   Israel  Petach Tikva, Israel      http://www.tevapharm.com
496    China        Beijing, China   http://www.newchinalife.com
497  Britain     Bradford, Britain      http://www.morrisons.com
498  Germany      Hanover, Germany       http://www.tuigroup.com
499      USA   Fort Lauderdale, FL     http://www.autonation.com

     years_on_global_500_list  employees  total_stockholder_equity
0                          23    2300000                     77798
1                          17     926067                    209456
2                          19     713288                    106523
3                          17    1512048                    301893
4                          23     364445                    157210
..                        ...        ...                       ...
495                         1      56960                     33337
496                         2      54378                      8507
497                        13      77210                      5111
498                        23      66779                      3006
499                        12      26000                      2310

[500 rows x 17 columns]

### 2. Data overview

In [4]:
f500_type = type(f500)
print(f500_type)

<class 'pandas.core.frame.DataFrame'>

In [5]:
# See how many rows and columns in the dataframe
f500_shape = f500.shape
print(f500_shape)

(500, 16)

In [6]:
f500_head = f500.head(6)
print(f500_head)

                          rank  revenues  revenue_change  profits  assets  \
company
Walmart                      1    485873             0.8  13643.0  198825
State Grid                   2    315199            -4.4   9571.3  489838
Sinopec Group                3    267518            -9.1   1257.9  310726
China National Petroleum     4    262573           -12.3   1867.5  585619
Toyota Motor                 5    254694             7.7  16899.3  437575
Volkswagen                   6    240264             1.5   5937.3  432116

                          profit_change                  ceo  \
company
Walmart                            -7.2  C. Douglas McMillon
State Grid                         -6.2              Kou Wei
Sinopec Group                     -65.0            Wang Yupu
China National Petroleum          -73.7        Zhang Jianhua
Toyota Motor                      -12.3          Akio Toyoda
Volkswagen                          NaN      Matthias Muller

                                          industry                  sector  \
company
Walmart                      General Merchandisers               Retailing
State Grid                               Utilities                  Energy
Sinopec Group                   Petroleum Refining                  Energy
China National Petroleum        Petroleum Refining                  Energy
Toyota Motor              Motor Vehicles and Parts  Motor Vehicles & Parts
Volkswagen                Motor Vehicles and Parts  Motor Vehicles & Parts

                          previous_rank  country         hq_location  \
company
Walmart                               1      USA     Bentonville, AR
State Grid                            2    China      Beijing, China
Sinopec Group                         4    China      Beijing, China
China National Petroleum              3    China      Beijing, China
Toyota Motor                          8    Japan       Toyota, Japan
Volkswagen                            7  Germany  Wolfsburg, Germany

                                               website  \
company
Walmart                         http://www.walmart.com
State Grid                      http://www.sgcc.com.cn
Sinopec Group                   http://www.sinopec.com
China National Petroleum        http://www.cnpc.com.cn
Toyota Motor              http://www.toyota-global.com
Volkswagen                   http://www.volkswagen.com

                          years_on_global_500_list  employees  \
company
Walmart                                         23    2300000
State Grid                                      17     926067
Sinopec Group                                   19     713288
China National Petroleum                        17    1512048
Toyota Motor                                    23     364445
Volkswagen                                      23     626715

                          total_stockholder_equity
company
Walmart                                      77798
State Grid                                  209456
Sinopec Group                               106523
China National Petroleum                    301893
Toyota Motor                                157210
Volkswagen                                   97753

In [7]:
# See the datatype of each rows
print(f500.info())

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB
None

### 3.Select  and assign data

**3.1 Select a single column**

In [8]:
countries = f500["country"]
countries.head(5)

company
Walmart                       USA
State Grid                  China
Sinopec Group               China
China National Petroleum    China
Toyota Motor                Japan
Name: country, dtype: object

**3.2 Select a list of columns**

In [9]:
revenue_years = f500[["revenues", "years_on_global_500_list"]]
revenue_years.head(5)

                          revenues  years_on_global_500_list
company
Walmart                     485873                        23
State Grid                  315199                        17
Sinopec Group               267518                        19
China National Petroleum    262573                        17
Toyota Motor                254694                        23

**3.3 Select a slice of columns e.g from column4 to column7.**

*Important concept: for 3.1 and 3.2, the command are shorthand version of df.loc[[]] e.g f500.loc[:,["revenues", "years_on_global_500_list"]]


For slicing column, there is no shorthand version and therefore df.loc must be used. 
The reason is, the shorthand version for slicing is for rows, not for columns

In [10]:
ceo_to_sector = f500.loc[:, "ceo":"sector"]
ceo_to_sector.head(5)

,ceo,industry,sector
company,,,
Walmart,C. Douglas McMillon,General Merchandisers,Retailing
State Grid,Kou Wei,Utilities,Energy
Sinopec Group,Wang Yupu,Petroleum Refining,Energy
China National Petroleum,Zhang Jianhua,Petroleum Refining,Energy
Toyota Motor,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts

In [11]:
# slice with row and column ranges
middle_companies = f500.loc["Tata Motors" : "Nationwide", "rank":"country"]
middle_companies.head(5)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country
company,,,,,,,,,,,
Tata Motors,247,40329,-4.2,1111.6,42162,-34.0,Guenter Butschek,Motor Vehicles and Parts,Motor Vehicles & Parts,226,India
Aluminum Corp. of China,248,40278,6.0,-282.5,75089,NaN,Yu Dehui,Metals,Materials,262,China
Mitsui,249,40275,1.6,2825.3,103231,NaN,Tatsuo Yasunaga,Trading,Wholesalers,245,Japan
Manulife Financial,250,40238,49.4,2209.7,537461,28.9,Donald A. Guloien,"Insurance: Life, Health (stock)",Financials,394,Canada
China Minsheng Banking,251,40234,-5.2,7201.6,848389,-1.8,Zheng Wanchun,Banks: Commercial and Savings,Financials,221,China

**Important concept:** 

- For the shorthand version, most of them only apply to columns/singal item in a series. 
- For extracting single rows, list of rows or slice of rows -- need to use the df.loc[] function 

e.g 

df.loc["row4"]

df.loc[["row1", "row8"]]

df.loc["row3":"row5"]

**Important concept 2: loc vs iloc**

- loc: label based selection
- iloc: integer position based selection

Example in using iloc

In [12]:
first_seventh_row_slice = f500.iloc[[0,6], :5 ]
print(first_seventh_row_slice)

                   rank  revenues  revenue_change  profits  assets
company
Walmart               1    485873             0.8  13643.0  198825
Royal Dutch Shell     7    240033           -11.8   4575.0  411275

In [13]:
null_previous_rank = f500[f500["previous_rank"].isnull()]
top5_null_prev_rank = null_previous_rank.iloc[0:5]
top5_null_prev_rank

Empty DataFrame
Columns: [rank, revenues, revenue_change, profits, assets, profit_change, ceo, industry, sector, previous_rank, country, hq_location, website, years_on_global_500_list, employees, total_stockholder_equity]
Index: []

In [14]:
previously_ranked = f500[f500["previous_rank"].isnull() == False]
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"] 
f500["rank_change"] = rank_change

#### 3.4 Select rows/columns with boolean indexing

If we just want the values in column which fulfill some conditions in rows, we can use boolean indexing. 

For example, we want to know the company names and their headquarter for those in Motor Vehicles and Parts

In [15]:
motor_bool = f500["industry"] == "Motor Vehicles and Parts"
motor_countries = f500.loc[motor_bool, "country"]
print(motor_countries)

company
Toyota Motor                                 Japan
Volkswagen                                 Germany
Daimler                                    Germany
General Motors                                 USA
Ford Motor                                     USA
Honda Motor                                  Japan
SAIC Motor                                   China
Nissan Motor                                 Japan
BMW Group                                  Germany
Dongfeng Motor                               China
Robert Bosch                               Germany
Hyundai Motor                          South Korea
China FAW Group                              China
Beijing Automotive Group                     China
Peugeot                                     France
Renault                                     France
Kia Motors                             South Korea
Continental                                Germany
Denso                                        Japan
Guangzhou Automobile Industry Group          China
Tata Motors                                  India
ZF Friedrichshafen                         Germany
Jardine Matheson                             China
Magna International                         Canada
Volvo                                       Sweden
Hyundai Mobis                          South Korea
Aisin Seiki                                  Japan
Zhejiang Geely Holding Group                 China
Subaru                                       Japan
Bridgestone                                  Japan
Mazda Motor                                  Japan
Suzuki Motor                                 Japan
Sumitomo Electric Industries                 Japan
Michelin                                    France
Name: country, dtype: object

In [16]:
brazil_venezuela = f500[(f500["country"] == "Brazil") | (f500["country"] == "Venezuela")]
tech_outside_usa = f500[(f500["country"] != "USA") & (f500["sector"] == "Technology")]. head(5)

tech_outside_usa

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
company,,,,,,,,,,,,,,,,,
Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376,-2
Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476,-2
Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632,8
Huawei Investment & Holding,83,78511,24.9,5579.4,63837,-5.0,Ren Zhengfei,Network and Other Communications Equipment,Technology,129,China,"Shenzhen, China",http://www.huawei.com,8,180000,20159,46
Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415,8

Sorting example: Find the Japanese companies with most employees

In [18]:
selected_rows = f500[f500["country"] == "Japan"]
sorted_rows = selected_rows.sort_values("employees", ascending=False)
top_japanese_employer = sorted_rows.iloc[0]["ceo"]

#### 3.5 Value assignment in Pandas

By providing labels for both axes, we can assign them to a single value within our dataframe. Example is as follows:

In [ ]:
f500.loc["Dow Chemical", "ceo"] = "Jim Fitterling"

### 4. Preliminary calculation

**4.1 Value counts** 

To check the data and the distribution, the first aggregation that we can do is to count all values. That would help to explore the extreme/invalid values

In [ ]:
countries = f500['country']
country_counts = countries.value_counts()
print(country_counts.head(5))

We can also check the value for a certain value

In [ ]:
north_americas = countries.value_counts()[["USA", "Canada", "Mexico"]]
print(north_americas)

**We can even combine the boolean index mentioned above to see the value counts under certain conditions**

We can select rows which fulfill a certain boolean condition, and count the value of the related

For example, Count the sectors for companies in USA:

In [ ]:
sector_USA = f500.loc[f500["country"]=="USA", "sector"].value_counts().head(3)
sector_USA

In [ ]:
sector_Beij = f500.loc[f500["hq_location"].str.contains("Beijing"), "sector"].value_counts().head(3)
sector_Beij

**Extension function: Extract the index and export to a list**

If we just need the index i.e country name, we can use value_counts.index() function

In [ ]:
countryindex = country_counts.head(5).index
print(countryindex)

The result can be converted into a list as well:

In [ ]:
listtotest = list(countryindex)
listtotest

### 5. Data manuplications and selection

When we count the values in column "previous_rank":

In [ ]:
f500["previous_rank"].value_counts()

We found that 0 is the most frequent value. In this case, it should be changed to NaN because those values with 0 means that those companies were not in the forbes before.

In [ ]:
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

In [ ]:
f500["previous_rank"].value_counts()

### 6. Series calculation

Pandas supports many descriptive stats methods that can help us to get the statistical information in a series such as max(). min(), mean() etc

In [ ]:
# First is the vectorized operations i.e the operation applied to multiple data points at once:
# Find out the difference in ranking last year and this year
# Index will also be included in the result
rank_change = f500["previous_rank"] - f500["rank"] 
rank_change

Furthermore, we can use the statistical method to further investigate the data:

In [ ]:
rank_change_max = rank_change.max()
rank_change_min = rank_change.min()

print(rank_change_max)
print(rank_change_min)

To get a quick overview of the data, we can use describe() to see basic statistical summary. 

The describe function can be applied to both series and dataframe.

In [ ]:
f500_desc = f500.describe()
print(f500_desc)

**Select all the countries and their top companies**

In [ ]:
top_employer_by_country = {}
countries = f500["country"].unique()

for rows in countries: 
    selected_rows = f500[f500["country"] == rows]
    sorted_rows = selected_rows.sort_values("employees", ascending=False)
    top_employer = sorted_rows.iloc[0]
    employer_name = top_employer
    top_employer_by_country[rows] = employer_name

print(top_employer_by_country)